.patients__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
/* 
patients welcome */
.patients__welcome {
  position: relative;
  width: 100%;
  background-color: var(--background-title);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2em;
}
.patientsWelcome__data {
  width: 95%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}
.patienetsWelcome__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.patienetsWelcome__name h4 {
  font-size: 1.4em;
  color: var(--title);
}
.patienetsWelcome__name h3 {
  font-size: 1.5em;
  color: var(--subtitle);
}
.patientsWelcome__data button {
  right: 2em;
  padding: 0.5em;
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: 600;
  font-size: 1em;
  border-radius: 0.5em;
  border: 2.5px solid var(--button-background);
  transition: 0.5s;
  cursor: pointer;
}

.patientsWelcome__data button:hover {
  background-color: var(--button-color);
  color: var(--button-background);
  transition: 0.5s;
}

/* patients provaiders */
.patients__providers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.patients__providers h3 {
  font-size: 1.5em;
  color: var(--title-providers);
  font-weight: 800;
}
.patientsProviders__select {
  width: 50%;
  min-width: 330px;
  max-width: 800px;
  padding: 0.3em;
  font-weight: 600;
  font-size: 0.8em;
}
.css-w9q2zk-Input2 {
  cursor: pointer;
}
.patientsProviders__select svg {
  cursor: pointer;
}

/* search patients */
.seacrh__parients {
  width: 95%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
}

.parients__dni {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  justify-content: center;
}
.parients__dni h3 {
  color: var(--search-text);
}

.parientsDni__form {
  display: flex;
  align-items: center;
  gap: 1em;
}
.parientsDni__form input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--search-button);
  color: var(--search-color);
}
.parientsDni__form input::placeholder {
  color: rgba(240, 240, 240, 0.898);
}

.parientsDni__form button {
  width: 6em;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--search-button);
  color: var(--search-color);
  transition: 0.5s;
  cursor: pointer;
}
.parientsDni__form button:hover {
  background-color: var(--search-button-hover);
  transition: 0.5s;
}

/* patients date */
.parients__dates {
  min-width: 330px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

.parients__dates h3 {
  color: var(--search-text);
}
.patientsDates__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.patientsDates__form div {
  display: flex;
  gap: 1em;
  align-items: center;
}
.patientsDates__form span {
  color: var(--search-text);

  font-weight: 900;
}

.patientsDates__form input[type="date"] {
  padding: 0.5em;
  color: var(--search-color) !important;
  font-size: 1.1em;
  background-color: var(--search-button);
  border: none;
  border-radius: 0.5em;
  transition: 0.5s;
}

.patientsDates__form input[type="date"]:hover {
  background-color: var(--search-button-hover);
  transition: 0.5s;
}

.patientsDates__form button {
  width: 6em;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--search-button);
  color: var(--search-color);
  transition: 0.5s;
  cursor: pointer;
}
.patientsDates__form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-image: url(/calendar-heart-regular-24.png); /*  Usar una imagen personalizada como icono */
}
.patientsDates__form button:hover {
  background-color: var(--search-button-hover);
  transition: 0.5s;
}
/* parients table */
.patients__table {
  width: 95%;
  max-width: 1600px;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--table-background);
  border-radius: 0.45em;
  color: var(--table-color);
}

.patients__thead {
  width: 100%;

  display: solid;
  border-bottom: 2px solid var(--table-border);
}
.patients__tr {
  width: 100%;
  display: flex;
  font-size: 1em;
  font-weight: 800;
}

.patients__th {
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 9);
  border-right: 2px solid var(--table-border);
  font-size: 0.8em;
  padding: 0.8em;
}

.patients__tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--tbody-border);
  border-top: none;
  border-radius: 0.45em;
  min-height: 500px;
  background-color: white;
}
.patient__noBorder {
  border-right: none;
}

@media (max-width: 850px) {
  .patients__th {
    min-width: 60px;
    font-size: 0.5em;
  }
}
