.longin__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4em;
}

.longin__form {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 3em;
  padding-bottom: 4.5em;
  position: relative;
  background-color: rgb(56, 66, 78);
  overflow: hidden;
}
.longin__form h2 {
  color: white;
  font-size: 2.3em;
}

.login__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border: none;
  background-image: url(../../../public//wave.png);
  background-size: 600px 100px;
  animation: wave 15s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 600px;
  }
}

.longin__div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.longin__div label {
  color: rgb(241, 241, 241);
  font-weight: 600;
  font-size: 1.3em;
}

.longin__div input {
  min-width: 250px;
  border-radius: 0.5em;
  border: none;
  height: 1.8em;
  background-color: rgba(255, 255, 255, 0.897);
  padding-left: 1em;
  font-size: 1.3em;
  color: rgb(56, 66, 78);
}
.longin__div input:hover {
  box-shadow: 0 0 1em 0.1em rgba(255, 255, 255, 0.342);
}

.longin__form button {
  padding: 0.7em;
  font-size: 1.3em;
  font-weight: 600;
  border: 2.5px solid rgb(241, 241, 241);
  background-color: white;
  border-radius: 0.8em;
  color: rgb(56, 66, 78);
  cursor: pointer;
  transition: 0.5s;
}

.longin__form button:hover {
  background-color: rgb(56, 66, 78);
  color: rgb(241, 241, 241);
  transition: 0.5s;
}

/* animation */
